# ========================
# Arquivos do Go
# ========================
# Binário compilado da aplicação (o nome pode variar)
minhas_economias
minhas_economias.exe

# Banco de dados local do SQLite
# NUNCA envie o banco de dados para o repositório!
*.db

# ========================
# Arquivos de Ambiente
# ========================
# Arquivos de variáveis de ambiente que contêm senhas ou chaves de API
.env
*.env

# ========================
# Node.js / Playwright
# ========================
# Diretório de dependências do Node.js (pode ser GIGANTE)
/node_modules/

# Logs e saídas do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Resultados dos testes do Playwright
/test-results/

# Relatório HTML gerado pelo Playwright
/playwright-report/

# Cache do Playwright
/playwright/.cache/


# ========================
# Configurações de IDEs e SO
# ========================
# Visual Studio Code
.vscode/

# JetBrains (GoLand, etc)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

csv/Extrato_20130101_20131231.csv
csv/Extrato_20140101_20141231.csv
csv/Extrato_20150101_20151231.csv
csv/Extrato_20160101_20161231.csv
csv/Extrato_20170101_20171231.csv
csv/Extrato_20180101_20181231.csv
csv/Extrato_20190101_20191231.csv
csv/Extrato_20200101_20201231.csv
csv/Extrato_20210101_20211231.csv
csv/Extrato_20220101_20221231.csv
csv/Extrato_20230101_20231231.csv
csv/Extrato_20240101_20241231.csv
csv/Extrato_20250101_20250630.csv
csv/Extrato_20250101_20251231.csv
csv/cartao_de_credito
extratos.db
go.mod
go.sum
backup/
xls/Extrato_20130101_20131231.xls
xls/Extrato_20140101_20141231.xls
xls/Extrato_20150101_20151231.xls
xls/Extrato_20160101_20161231.xls
xls/Extrato_20170101_20171231.xls
xls/Extrato_20180101_20181231.xls
xls/Extrato_20190101_20191231.xls
xls/Extrato_20200101_20201231.xls
xls/Extrato_20210101_20211231.xls
xls/Extrato_20220101_20221231.xls
xls/Extrato_20230101_20231231.xls
xls/Extrato_20240101_20241231.xls
xls/Extrato_20250101_20250630.xls
xls/Extrato_20250101_20251231.xls
.~lock.*
popular_saldos.sh
.ansible/
.vscode/
copy_code.sh
comandos.md

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

tests/venv/

csv/investimentos_nacionais.csv
csv/investimentos_internacionais.csv


MinhasEconomias.bin
MinhasEconomias.exe
