{{define "head"}}
<style>
    .error-container {
        text-align: center;
        padding: 40px;
        background-color: white;
        border-radius: 8px;
        margin-top: 2rem;
    }
    .error-code {
        font-size: 5rem;
        font-weight: bold;
        color: #dc3545;
    }
    .error-message {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 30px;
        color: #475569;
    }
</style>
{{end}}

{{define "content"}}
<div class="error-container">
    <div class="error-code">{{ .StatusCode }}</div>
    <p class="error-message">{{ .ErrorMessage }}</p>
    <a href="/" class="filter-button rounded-md">Voltar para a Página de Saldos</a>
</div>
{{end}}